  box-sizing: border-box;
}

/* 
.containerUpperHalf {
    position: relative;
  margin: 0 auto;
  margin-top: 500px;
  width: 1 px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25em;
}
header {
   color:antiquewhite;
    font-family: fantasy;
  background-color: #326872;
  height: px;
    width:100;
  padding: 10px;
  border: 10px solid #335b63;
}

aside {
  background-color: black;
    color: antiquewhite;
  width: 300px;
  height: 400px;
  padding: 10px;
  border: 1px solid white;
}

main {
  background-color:silver;
  width: 700px;
  height: 400px;
  padding: 10px;
  border: 1px solid black;
}
.containerlowerHalf {
    
  margin: 0 auto;
  margin-top: 500px;
  width: 1 px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25em;
}

footer    {color:antiquewhite;
    font-family: fantasy;
  background-color: #326872;
  height: px;
    width:100;
  padding: 10px;
    border: 10px solid #335b63;
} */