

header {
   color:antiquewhite;
    font-family: fantasy;
  background-color: #326872;
  height: px;
    width:100;
  padding: 10px;
  border: 10px solid #335b63;
}

aside {
  background-color: black;
    color: antiquewhite;
  width: 300px;
  height: 400px;
  padding: 10px;
  border: 1px solid white;
}

main {
  background-color:silver;
  width: 700px;
  height: 400px;
  padding: 10px;
  border: 1px solid black;
}

}

footer    {color:antiquewhite;
    font-family: fantasy;
  background-color: #326872;
  height: px;
    width:100;
  padding: 10px;
    border: 10px solid #335b63;
} 